{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        
         <title>{% block page_title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/font-awesome-4.5.0/css/font-awesome.css" %}">
        {% block head_js %}{% endblock head_js %}
        
        
       
    </head>
    
    <body>
        <p><h1> DavV AR&VR BugTracker App </h1></p>
        
        <h1>{% block page_heading %}{% endblock %}</h1>
        
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}"> Home</a></li>
                    <li><a href="#"></a> About</li>
                    <li><a href="#"> Virtual Apps </a></li>
                    <li><a href="{% url 'logout' %}"> Logout </a></li>
                    <li><a href="{% url 'profile' %}"> Profile </a></li>
                    <li><a href="/forum/">Forum</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'registration' %}">Register</a></li>
                    
                {% endif %}
            </ul>
        </nav>
        
        <hr>
        {% if messages %}
        <div>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>